/* src/assets/css/custom.css */

/* styles.css */
body {
  padding-top: 80px; /* Ensure content is not hidden under the navbar */
}

.section-spacing {
  margin-top: 80px; /* Adjust the value as needed */
}

.centered-content {
  max-width: 800px; /* You can adjust this value */
  margin: 0 auto; /* Centers the content */
}
